doctype html
html
    head
        title Frontend Engineer Challenge
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        script(src='/bundles/main.js')
    body
        div#webapp-root
        script.
            Webapp.render(document.getElementById('webapp-root'));
